<aside class="hidden sm:block w-1/5 pr-4">
    <div class="mb-6">
        <h3 class="text-lg font-bold mb-2">{{ i18n "about" }}</h3>
        <p class="text-xs">
            {{ .Language.Params.About }}
        </p>
    </div>
    <div class="sticky top-6 max-h-64">
        {{ if gt (len .TableOfContents) 33 }}
        <h3 class="text-lg font-bold mb-2">{{ i18n "contents" }}</h3>
        <p class="text-xs hover:text-red-500">
            {{ .TableOfContents }}
        </p>
        {{ end }}
        <h3 class="text-lg font-bold mt-6 mb-2">{{ i18n "more" }}</h3>
        <div class="text-xs mb-6">
            <ul>
                {{ range .Params.categories }}
                {{ if eq $.Language.Lang "en" }}
                <li class="hover:text-red-500">
                    <a href="/categories/{{ . | urlize }}">{{ . }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="flex justify-end">
            <span id="likes-button" class="m-2 hover:text-red-500 cursor-pointer flex justify-evenly content-center">
                <span id="likes" class="mr-2 flex align-middle"></span> {{ partial "icons/like.html" .}}
            </span>
            <span id="share" class="m-2 hover:text-red-500 cursor-pointer">{{ partial "icons/share.html" . }}</span>
        </div>
    </div>
</aside>

<script>
    let likes = null
    const shareIcon = document.getElementById("share")
    shareIcon.addEventListener("click", (e) => {
        navigator.clipboard.writeText(window.location.href)
    })

    const likesButton = document.getElementById("likes-button")

    likesButton.addEventListener("click", async () => {
        if (!likes) {
            likes = evaluateThreshold(Math.floor(Math.random() * 10000))
        }
        const likesSpan = document.getElementById("likes")
        likesSpan.innerText = likes
    })
</script>