@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/scss/brands";

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .mansonry {
            column-gap: 1.5em;
        }

        .mansonry-col-2 {
            column-count: 2;
        }

        .mansonry-col-3 {
            column-count: 3;
        }

        .break-inside {
            break-inside: avoid;
        }
    }
}

h1 {
    @apply text-3xl font-bold mb-6 mt-2;
}

h2 {
    @apply text-2xl font-bold mb-4 mt-2;
}

h3 {
    @apply text-xl font-semibold mb-4 mt-2;
}

figure {
    @apply mb-6;
}

figure img {
    @apply w-full;
}

figure h4 {
    @apply mt-2 text-center text-sm text-gray-500;
}

code {
    @apply bg-gray-800 text-sm text-white rounded p-1;
}

.highlight {
    @apply text-sm;
}

.highlight,
pre {
    @apply p-4 rounded-md;
}

#TableOfContents ol {
    @apply list-decimal pl-4;
}

#TableOfContents ol li {
    @apply text-sm hover:text-red-500 mt-1;
}
