@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/scss/brands";

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

h1 {
    @apply text-3xl font-bold my-2;
}

.highlight {
    @apply text-sm;
}

.highlight,
pre {
    @apply p-4 rounded-md;
}

#TableOfContents ol {
    @apply list-decimal pl-4;
}

#TableOfContents ol li {
    @apply text-sm hover:text-red-500 mt-1;
}
