<footer class="w-full">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between flex-col">
            <!-- Mobile Footer -->
            <div class="w-full sm:hidden px-6 flex flex-col content-center">
                <div class="mb-1">
                    <p class="text-xs">{{ i18n "subscribe_mobile" }}:</p>
                </div>
                {{ partial "subscribe/subscribe.html" . }}
            </div>
            <!-- Web Footer -->
            <div class="
                    w-full
                    hidden
                    sm:flex
                    flex-nowrap
                    justify-center
                    content-center
                ">
                <div>
                    <div class="mb-1">
                        <p class="text-xs max-w-sm">
                            {{ i18n "subscribe_web" }}
                        </p>
                    </div>
                    {{ partial "subscribe/subscribe.html" . }}
                </div>
            </div>
            <div class="border-t border-gray-300 mt-4 text-xs text-center p-4">
                {{ i18n "rights" }} <b>&copy;</b>
                {{ .Site.Author.name }},
                {{ now.Format "2006" }}
            </div>
        </div>
    </div>
</footer>