<footer class="absolute bottom-0 w-full">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <!-- Mobile Footer -->
            <div class="w-full sm:hidden px-6 flex justify-between">
                Mobile Footer
            </div>
            <!-- Web Footer -->
            <div class="
                    w-full
                    hidden
                    sm:flex
                    flex-nowrap
                    justify-between
                    content-center
                ">
                Web Footer
            </div>
        </div>
    </div>
</footer>