<!-- <form action="" class="m-0 flex">
    <input type="text"
        class="sm:max-w-lg w-full rounded-l-lg pl-2 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white text-xs outline-none"
        placeholder='{{ i18n "email_placeholder" }}'>
    <button
        class="px-4 rounded-r-lg bg-red-400 hover:bg-red-500 font-bold p-3 uppercase border-red-500 border-t border-r text-white text-xs">
        {{ i18n "subscribe" }}</button>
</form> -->
<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://gmail.us5.list-manage.com/subscribe/post?u=7e99b339d496a6c7b1139d4fc&amp;id=6cb1abe378"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll" class="flex">
            <div
                class="mc-field-group sm:max-w-lg w-full rounded-l-lg pl-2 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white text-xs outline-none flex">
                <input type="email" value="" name="EMAIL" class="required email outline-none w-full focus:bg-white"
                    placeholder='{{ i18n "email_placeholder"}}' id="mce-EMAIL">
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_7e99b339d496a6c7b1139d4fc_6cb1abe378" tabindex="-1" value=""></div>
            <div
                class="clear cursor-pointer px-4 rounded-r-lg bg-red-400 hover:bg-red-500 p-3  border-red-500 border-t border-r ">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                    class="button text-white text-xs uppercase bg-transparent font-bold cursor-pointer">
            </div>
        </div>
    </form>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
</div>

<!--End mc_embed_signup-->