<a class="absolute top-0 left-0" href="{{ .Site.Params.address.url }}" target="_blank">
    <div class="absolute bg-{{ .Site.Params.address.color }}-500 transform rotate-45"
        style="top: 34px; left: 6px; width: 28px; height: 28px;">
    </div>
    <div class="w-10 h-12 bg-{{ .Site.Params.address.color }}-500 text-center text-light text-2xl py-3 transform z-100">
        <i class="{{ .Site.Params.address.icon }} {{ .Site.Params.address.iconColor }}"></i>
    </div>
    <span class="absolute top-0 left-10 text-xs w-28 p-2">{{ T "currently_living_in" }} <b>
            {{ .Site.Params.address.city }}</b>,
        {{ .Site.Params.address.state }},
        {{ .Site.Params.address.country }} </span>
</a>