<article class="sm:w-4/5 pl-4">
    <header>
        <h1 class="text-4xl font-bold mt-0">{{ .Title }}</h1>
        <time datetime='{{ dateFormat "2006-01-02 15:04" .Date }}'>
            <span class="text-sm font-thin text-grey-800">
                {{ dateFormat "January 2, 2006 15:04" .Date }}
            </span>
        </time>
    </header>
    <div class="my-8">
        {{ .Content }}

        <br>
        <span class="text-xl">
            🍻
        </span>
        <br>
        <span class="text-sm">André</span>
    </div>
</article>