<header>
    <nav>
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <!-- Mobile Menu -->
                <div class="w-full sm:hidden px-6 flex justify-between">
                    <!-- Burger Icon -->
                    <div class="cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </div>
                    <div class="w-full flex justify-center">
                        <p class="text-lg font-extrabold">andré de moraes</p>
                    </div>
                </div>
                <!-- Web Menu -->
                <div class="
                        w-full
                        hidden
                        sm:flex
                        flex-nowrap
                        justify-between
                        content-center
                    ">
                    <div>
                        <p class="text-lg font-extrabold">andré de moraes</p>
                    </div>
                    <div class="flex justify-between">
                        <ul class="
                        flex flex-none
                        justify-center
                        content-center
                        items-center
                        text-xs
                        ">
                            <li class="px-2 lowercase">
                                <a href="">About</a>
                            </li>
                            <li class="px-2 lowercase">
                                <a href="">Tags</a>
                            </li>
                        </ul>
                        <ul class="ml-6 flex flex-none justify-center content-center items-center text-lg">
                            <li>
                                <a href="" target="_blank">
                                    <i class="px-2 fab fa-linkedin-in cursor-pointer"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class="px-2 fab fa-instagram cursor-pointer"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class="px-2 fab fa-github-alt cursor-pointer"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>