<header>
    {{ partial "navigation/sidedrawer/sidedrawer.html" . }}
    <nav class="mb-4">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <!-- Mobile Menu -->
                <div class="w-full sm:hidden px-6 flex justify-between">
                    <!-- Burger Icon -->
                    <div id="menu-burger" class="cursor-pointer hover:text-red-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </div>
                    <div class="w-full flex justify-center">
                        <p class="font-mono tracking tighter text-lg font-extrabold">andré de moraes</p>
                    </div>
                </div>
                <!-- Web Menu -->
                <div class="
                        w-full
                        hidden
                        sm:flex
                        flex-nowrap
                        justify-between
                        content-center
                    ">
                    {{ partial "location/location.html" . }}
                    <div class="ml-40">
                        <p class="font-mono tracking tighter text-lg font-extrabold">andré de moraes</p>
                    </div>
                    <div class="flex justify-between">
                        <ul class="
                        flex flex-none
                        justify-center
                        content-center
                        items-center
                        text-xs
                        ">
                            {{ partial "navigation/links/menu.html" . }}
                        </ul>
                        <ul class="ml-6 flex flex-none justify-center content-center items-center text-lg">
                            {{ partial "navigation/links/social.html" . }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script>
        let isOpen = false
        const openSideDrawer = () => {
            const sidedrawer = document.getElementById("sidedrawer")
            if (!isOpen) {
                sidedrawer.classList.replace("-translate-x-full", "translate-x-0")
            } else {
                sidedrawer.classList.replace("translate-x-0", "-translate-x-full")
            }
            isOpen = !isOpen
        }

        document.getElementById("menu-burger").addEventListener("click", openSideDrawer)
    </script>
</header>